body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.App {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

p {
  color: #555;
  text-align: center;
  font-size: 1.2rem;
}

nav {
  width: 100%;
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 15px 25px;
  display: block;
  border-radius: 50px;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 1.1rem;
}

nav ul li a:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}

.entries, .views {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.entries li, .views li {
  margin: 10px;
}

.entries li a {
  background-color: #007bff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.views li a {
  background-color: #28a745;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.dark-mode-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
  background-color: #333;
  color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.dark-mode {
  background-color: #1c1c1c;
  color: #f4f4f4;
}

.dark-mode nav ul li a {
  color: white;
}

.dark-mode nav ul li a:hover {
  background-color: #444;
}

.dark-mode .entries li a {
  background-color: #0056b3;
}

.dark-mode .views li a {
  background-color: #1e7e34;
}

.dark-mode .dark-mode-toggle {
  background-color: #f4f4f4;
  color: #333;
}
